<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chronometre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{time|time}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button [disabled]="interval" color="success" fill="outline" (click)="start()">
        <ion-icon name="play"></ion-icon>
        Start
      </ion-button>
      <ion-button [disabled]="!interval" color="danger" fill="outline" (click)="stop()">
        <ion-icon name="stop"></ion-icon>
        Stop
      </ion-button>
      <ion-button [disabled]="time === 0" color="secondary" fill="outline" (click)="reset()">
        <ion-icon name="refresh"></ion-icon>
        Reset
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
