<app-header title="Todo List"></app-header>

<ion-content class="ion-padding" [scrollY]="true">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="50" [pullMax]="150" (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="taskName" label="Nom de votre tâche" labelPlacement="floating" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="taskUrgent">Urgent</ion-toggle>
      </ion-item>
      <ion-button expand="block" (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>
      <ion-title>
        Liste des tâches à effectuer
      </ion-title>
    </ion-list-header>
    @for(item of sortedTasks; track item.name) {
      <ion-item (click)="displayActionsSheet(item)">
        @if(item.urgent) {
          <ion-icon slot="start" color="danger" name="warning"></ion-icon>
        }
        {{item.name}}
        @if(item.completed) {
          <ion-icon slot="end" name="checkmark" color="success"></ion-icon>
        }
      </ion-item>
    } @empty {
      <ion-item>
        Aucunes tâches
      </ion-item>
    }

  </ion-list>
  <ion-infinite-scroll [disabled]="disabledInfiniteScroll" (ionInfinite)="scroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
